@font-face
{
	font-family: "RDFont";
	src: url(RDFont.ttf);		
}

body
{
	margin: 0px;
	padding: 0px;
	text-align: center;
	background-color: black;
	font-size: 20px;
	color: white;
	font-family: RDFont; 
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

.pixelated
{
	image-rendering: pixelated;
	display: inline;	
}

.container
{
	text-align: center;
}

.texto {
	font-family: CM;
	color: #FFF;
}

.textAlign{
	text-align: center;
}
a {
	font-family: CM;
	color: #2989BE;
	text-decoration: none;
}


