

body
{
	margin: 0px;
	padding: 0px;
	text-align: center;
	background-color: black;
	font-size: 20px;
	color: white;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

.pixelated
{
	image-rendering: pixelated;
	display: inline;	
}

.container
{
	text-align: center;
}


.textAlign{
	text-align: center;
}

a {
	font-family: CM;
	color: #2989BE;
	text-decoration: none;
}


